body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
}


.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.bug-image {
    width: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
